<% provide(:title, "VoteMatch") %>

<div class="center jumbotron">
  <h1>
    最高裁判所裁判官<br>
    ボートマッチ
  </h1>

  <h2>
    あなたにマッチする裁判官を知り、
    <a href="https://www.soumu.go.jp/senkyo/kokuminshinsa/seido_point.html">国民審査</a>
    の参考にすることが出来ます。
  </h2>

  <%= link_to "Start !", votematch_question_path, class: "btn btn-lg btn-success" %>
</div>
