@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#logo-right {
  float: right;
}

header.navbar{
  background-color: #080808;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-right: 15px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* votematch */

/* app/assets/stylesheets/application.scss */
.screen {
  display: none;
}

.active-screen {
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 80vh;             /* 最小高さを画面サイズに合わせる */
  height: auto;                  /* 高さを自動調整 */
  width: 100%;                   /* 横幅を100%に */
  position: relative;            /* 絶対配置を避け、レイアウトを調整 */
  top: 0;                        /* 上端に配置 */
  left: 0;                       /* 左端に配置 */
  overflow-y: auto;              /* コンテンツがはみ出た場合、縦スクロールを表示 */
}


/* ラジオボタンを隠してカスタムボタンを作成 */
input[type="radio"] {
  display: none; /* デフォルトのラジオボタンを非表示に */
}

/* カスタムボタン風にする */
input[type="radio"] + label {
  display: block;
  background-color: #30ACFF; /* ボタンの背景色 */
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

/* ラジオボタンが選択されたときのスタイル */
input[type="radio"]:checked + label {
  background-color: #0056b3; /* 選択されたときの色 */
}

/* ラベルにホバー効果を追加 */
input[type="radio"]:not(:checked) + label:hover {
  background-color: #0056b3;
}

/* ラベルにチェックが付いている場合のホバー効果を追加 */
input[type="radio"]:checked + label:hover {
  background-color: #004085;
}

/* 進捗バーのスタイル */
.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  height: 8px;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #2264df;
  transition: width 0.5s ease;
}

/* カスタムボタンのスタイル */
.navigation-button {
  position: fixed;
  bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 左下に配置するBackボタン */
#back-btn {
  left: 20px;
  background-color: #6c757d; /* グレー */
}

#back-btn:hover {
  background-color: #5a6268;
}

/* 右下に配置するNextボタン */
#next-btn {
  right: 20px;
  background-color: #007bff; /* ブルー */
}

#next-btn:hover {
  background-color: #0056b3;
}

/* 無効化時のスタイル */
#next-btn:disabled {
  background-color: #cccccc; /* 無効化時の色 (ライトグレー) */
  cursor: not-allowed;
}

/* 右下に配置するResultボタン */
#result-btn {
  position: absolute;
  left: 50%;                        /* 横位置を画面の中央に設定 */
  transform: translateX(-50%);      /* 左右中央に配置 */
  bottom: 10%;                       /* 画面下部から30%の位置に配置 */
  background-color: #007bff;        /* ボタンの背景色 */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#next-btn:hover {
  background-color: #0056b3;
}


/* レスポンシブ対応 */
@media (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-success {
    width: 100%; /* モバイルでボタンを全幅に */
    font-size: 1.1rem;
  }
}
