<% provide(:title, "About") %>
<h1>About</h1>
<p>
  最高裁判所裁判官国民審査制度(以降国民審査とする)は日本国憲法第79条に規定されており、既に任命されている最高裁判所の裁判官が、その職責にふさわしい者かどうかを国民が審査する解職の制度です。
  国民が審査を行うこの制度は、三権分立のひとつである司法権を監視するという観点から重要です。
  2024年11月現在、国民審査は衆議院議員総選挙の投票日に行われています。
  ただ現在までこの制度により罷免された裁判官は存在しません。
  これには衆議院議員選挙と同じ日に実施するため、十分な報道がなされないことが原因として挙げられると考えます。
</p>
<p>
  このサイトでは、国民審査による司法権の監視がなされていない現状を変えるため、国民審査に対する情報を提供しています。
</p>  